{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ Title }}{% endblock %}

{% block page_description %}Review of {{ Title }} by {{ Author }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="{{ relative_path }}img/{{ slug }}.jpg" alt="{{ Title }}" class="img-fluid mb-4">
    </div>
    <div class="col-sm-8">
      <h1>{{ Title }}</h1>
      <p><strong>Category:</strong> {{ Category }}</p>
      <p><strong>Author:</strong> {{ Author }}</p>
      <p><strong>Metacritic Score:</strong> {{ Metacritic_Score }}</p>
      <p><strong>Our Score:</strong> {{ Our_Score }}</p>
      <p><strong>Recommendation:</strong> {{ Stream_or_Skip }}</p>
      <p>{{ Logline }}</p>
    </div>
  </div>
</article>
{% endblock %}
