{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>THE POPTOMIST</h1>
  <p>we like a lot, so you know it's bad if we say it.</p>
 <h2>latest reviews</h2>
<div class="row">
  {% for review in Reviews.Reviews %}
  <div class="col-sm-4">
    <h3><a href="reviews/{{ review.slug }}.html">{{ review.Title }}</a></h3>
    <p><strong>Author:</strong> {{ review.Author }}</p>
    <p><strong>Category:</strong> {{ review.Category }}</p>
    <p>{{ review.Logline }}</p>
  </div>
  {% endfor %}
  </div>
  <h2>Bookstores loop</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for store in bookstores.stores %}
    <h3><a href="{{ store.url }}" target="_blank">{{ store.name }}</a></h3>
    <p>{{ store.address}}, {{ store.city }}, {{ store.state }} {{ store.zip }}</p>
    <hr>
  {% endfor %}
</div>
{% endblock %}